{% extends 'general/base.html' %}

{% block content %}
    <div class="row">
        <main class="col-md-9 ml-sm-auto col-lg-12 px-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">تاریخچه خرید</th>
                </tr>
                </thead>
                <tbody>
                    <tr style="background-color: aqua">
                        <td>                            نظر
                        </td>
                        <td>                            آدرس
                        </td>
                        <td>                            کاربر
                        </td>
                        <td>                            تاریخ خرید
                        </td>
                        <td>                           شماره خرید
                        </td>
                    </tr>
                {% for p in purchases %}
                    <tr style="background-color:{% cycle 'white' 'lightgray' %}">
                        <td>
                            {% if p.comment %}
                                {{ p.comment }}
                            {% else %}
                                -
                            {% endif %}

                        </td>
                        <td>
                            {{ p.address }}
                        </td>
                        <td>
                            {{ p.user }}
                        </td>
                        <td>
                            {{ p.date }}
                        </td>
                        <td>
                            <a href="{% url 'purchase:purchase_details' p.id %}">{{ p.id }}</a>
                        </td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </main>
    </div>
{% endblock %}