{% extends 'general/base.html' %}

{% block content %}
<div class="row">
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">محصولات</th>
                </tr>
                </thead>
            <tbody>
                {% for p in products %}
                    <tr>
                        <td width="350px">
                            <form method="post" action="{% url 'purchase:add_item_to_cart' product_id=p.product_id %}">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" id="amount" style="margin-bottom: 10px" width="10px" placeholder="وزن به کیلوگرم">
                                    </div>
                                    <div class="col">
                                        <input class="btn btn-primary" type="submit" value="اضافه کردن محصول">
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td><img src="/media/{{ p.photo }}" height="100px" width="130px"></td>
                        <td>
                                {{ p.manufacture_date }}:تولید<br>
                                {{ p.expires_at }}:انقضا

                        </td>
                        <td>
                            {% if p.is_available %}
                                <span style="color: green"> {{ p.price }} ریال</span>
                            {% else %}
                                <span style="color: red">موجود نیست</span>
                            {% endif %}
                        </td>
                        <td> <a href="/product/{{ p.product_id }}">{{ p.name }}</a> </td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </main>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">انواع محصولات</h6>
            <ul class="nav flex-column mb-2">
                {% for kind in kinds %}
                    <li class="nav-item">
                        <a class="nav-link" href="?kind={{kind}}">{{kind}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
{% endblock %}