{% extends "general/base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <form method="post" dir ="rtl" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend> ویرایش پروفایل {{ request.user.username }}</legend>
            <br>
            {% for field in form %}
            <div class="from-group">
            <label>{{field.label}}:</label>
            {{ field }}
            </div>
            {% endfor %}
            <br>
            <button class="btn btn-primary float-right">بروزرسانی</button>
        </fieldset>
    </form>
</div>
{% endblock %}
